<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lens24.sdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.CAMERA"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.AUTOFOCUS"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <activity
            android:name="lens24.ui.ScanCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/lens24_Theme" />
    </application>


</manifest>
